@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --safe-area-top: env(safe-area-inset-top, 0px);
    --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  }

  body {
    padding-top: var(--safe-area-top);
    padding-bottom: var(--safe-area-bottom);
  }
}
